@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --complement-color: #E6DFD1;
  --main-color: #433A29;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--complement-color);
  color: var(--main-color);
  font-family: 'Cabin', sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

header {
  padding: 1.4rem 0;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}

main {
  max-width: 600px;
  margin:auto;
  padding: 20px;
}

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  justify-content: space-between;
}

a:link,
a:visited {
  color: var(--main-color);
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: var(--complement-color);
  background-color: var(--main-color);
  outline: 5px solid red;
  transform: scale(1.2);
}

footer {
  padding-top: 40px;
}

.peterjjonasLogo {
  font-size: 60px;
}

.peterjjonas {
  font-weight: 900;
}

.officialPage {
  font-weight: normal;
}

.textLink {
  border: 1px solid;
  border-radius: 7px;
  padding: 0 5px;
}

.buttonLink {
  padding: 0 5px;
  font-size: 1.4rem;
  border: 5px solid;
  border-width: auto;
  border-radius: 15px;
}

.shout {
  font-size: 24px;
  font-weight: bold;
}
